* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
}

.message-bg {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.message__text {
    font-size: 1.3rem;
    padding: 8px 1.3rem;
    border-radius: 1rem;
    background-color: #1c1c1c;
    color: white;
}

.message__author {
    font-weight: 600;
    font-size: 1.2rem;
}
